{{>layouts/header}}

<form action="/articles/create" method="post">

    <input type="text" name="title">
    <br>
    <textarea cols="30" rows="10" name="content"></textarea>
    <button type="submit">제출</button>
    <a href="/articles">Back</a>

</form>

{{>layouts/footer}}